/* This is the style sheet! */


body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;

}

header,
.footer {
    background-color: #1F2937;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}


.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*.header-link-text {
    justify-content: space-between;
    gap: 32px;
}*/



.hero-main-content {
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}



.hero-image {
    width: 300px;
    margin-left: 6rem;
}

.hero-secondary-text,
.header-link-text,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    font-weight: 400;
    display: flex;
    gap: 18px;
}

li {
    font-size: 18px;
}

button {
    border: none;
    border-radius: 4px;
    padding: 4px 12px;
}

button,
.action { 
    background-color: #3882F6;
    color: #E5E7EB;
}

/*.main-container {
    display: flex;
    flex-wrap: wrap;
    
}*/

.random-info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937
    font-size: 36px;
    font-style: italic;
    
}

